*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    width: 100vw;
    height: 100vh;
}

.main-container{
    width: 100%;
    height: 100%;
    padding: 8rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main-container button{
    padding: 2rem 5rem;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid black;
        box-shadow: 2px 2px 2px 2px rgb(113, 110, 110);

}

.main-container button:hover{
    background-image: linear-gradient(to right top, red, orange, yellow, green);
    box-shadow: 2px 2px 2px 2px rgb(10, 10, 10);
}

.main-container button:active{
    background-image: linear-gradient(to right top, green, yellow, orange, red);
    box-shadow: 2px 2px 2px 2px rgb(10, 10, 10);
    transform: translate(1px,1px);
}
